.Login {
    background-color: white;
    width: 400px;
    max-width: 90%;
    border: 1px solid #ccc;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.Login::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1 !important;
    top: 0;
    left: 0;
    background-color: #eee;
}

.Login_Title {
    margin-top: 13px;
    margin-bottom: 10px;
}

.Login_Options {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Login_Options p {
    margin-bottom: 5px;
}