.about *{
    padding:0px;
    margin:0px;
    display: border-box;
    backface-visibility: visible;
    box-sizing: inherit;
}
.about nav ul{
    display: flex;
    align-items:center;
    backface-visibility: hidden;
}
.about h1{
    color:  hsl(233, 26%, 24%);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
.about h2{
    font-size: 40px;
    color: #2d314d;
    font-weight: normal;
}
.about h3{
    color:  hsl(233, 26%, 24%);
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 2.5rem;
}
.about h4{
    font-size: 1.7rem;
    color: hsl(233, 26%, 24%);
    margin: 2rem 0 1rem 0;
    transition: all 0.2s;
}
.about h4:hover{
    color:hsl(136, 65%, 51%);
}
.about  a{
    color: white;
    letter-spacing: 1px;
    text-decoration: none;

  }
.about .section__features{
    padding:7rem 2.5rem;
    background-color: hsl(0, 0%, 100%) ;
}
.about .section-1{
    width:100%;
    height:43vw;
    min-height: 30vh;
    padding-top: 5vw;
    display: flex;
    justify-content: center;
    text-align: center;
}
.about .Green_Button{
    box-shadow:2px 2px 2px gray;
    z-index: 2;
    font-weight:500;
}
.about .section__features p{
    font-size: 18px;
    color: #9698a6;
    font-weight: normal;
    margin: 30px 0;
    word-spacing: 1.2px;
}
.about .feature__card{
    display: flex;
    flex-direction: column;
    padding:1.5rem;
    width:15vw;
    box-shadow: 0.2rem 0.2rem 2rem rgb(209, 209, 209);
}
.about .feature__card h3{
    height:15vh;
    margin-bottom: 2rem;
}
.about .feature__card img {
    margin-bottom: 2rem;
    object-fit: cover;
}
.about .feature__card p{
    letter-spacing: initial;
    margin-bottom: 2rem;
    height:25vh;
}

.about .section__cards{
    background-color:  hsl(0, 0%, 98%);
    padding: 8rem 12rem;
}
.about .section__cards h3{
    margin-bottom: 6rem;
}
.about .grid__layout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5vw;
    width:100%;
}
.about figure{
    overflow: hidden;
    background-color: white;
}

.about figure img{
    width: 100%;
}
.about figcaption{
    padding: 2rem 3rem;
    color: hsl(233, 8%, 62%);
}
.about figcaption p{
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 1.6;
}
@media only screen and (max-width: 1470px){
    .about .grid__layout{
        display: grid;
        grid-template-columns: 50% 50%;
        padding-left: 5vw;
        row-gap:5vw;
        column-gap: 5vw;
    }
    .about .feature__card{
        width:30vw;
    }
}
@media only screen and (max-width: 900px){
    .about .grid__layout{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about .feature__card{
        width:50vw;
    }
    .about .section-1{
        margin-top:10vh;
        margin-bottom:50vh;
    }
}