.Profile .form {
    background-color: rgb(162, 248, 140);
    height: 620px;
    border-radius: 10%;
    width: 500px;
    color: white;
    padding: 2.5rem;
    border: solid 0.2rem rgb(35, 189, 35);
    background-color: #18ad4a !important;
    background-image: linear-gradient(315deg, #01e014 0%, #20bf55 74%) !important;
}

fieldset {
    margin: 10px 0;
}

.txt {
    font-size: 1.2rem;
}

.input {
    width: 400px;
    padding-left: 12px;
    height: 2.8rem;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    outline: none;
}

.input1 {
    width: 400px;
    height: 4.5rem;
    padding-left: 12px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    outline: none;
}

.Profile .formbutton {
    background-color: rgb(35, 189, 35);
    color: white;
    font-size: 2rem;
    height: 3.5rem;
    width: 180px;
    background-color: #20bf55 !important;
    background-image: linear-gradient(315deg, #01ef15 74%, #20bf55 74%) !important;
    padding: 2px 40px !important;
    border-radius: 200px !important;
    border: solid 0.2rem white;
    margin-top: 20px;
}

.avatarimg {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: solid 0.5rem rgb(165, 243, 165);
}

.container1 {
    margin-top: 100px;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    padding: 100px;
    border: black 10px;
    justify-content: space-evenly;
    column-gap: 3rem;
}

.Profile .head {
    background-color: rgb(162, 248, 140);
    height: 60px;
    border-radius: 20px;
    width: 320px;
    text-align: center;
    color: black;
    padding: 0.5rem;
    margin-bottom: 50px;
}

.Profile .button1 {
    color: white;
    font-size: 2rem;
    height: 4rem;
    width: 310px;
    margin-left: 0px;
    background-color: #20bf55 !important;
    background-image: linear-gradient(315deg, #01ef15 0%, #20bf55 74%) !important;
    padding: 2px 40px !important;
    border-radius: 200px !important;
    border: solid 0.2rem white;
    margin-top: 20px;
}

.addform {
    height: 420px;
    border-radius: 40px;
    width: 560px;
    color: white;
    padding: 2.5rem;
    border: solid 0.2rem rgb(35, 189, 35);
    background-color: #20bf55 !important;
    background-image: linear-gradient(315deg, #01ef15 0%, #20bf55 74%) !important;
}

.addinput {
    width: 450px;
    height: 2.8rem;
    font-size: 1.5rem;
    border-radius: 10px;
    padding-left: 12px;
    border: none;
    outline: none;
}

.addinput1 {
    width: 450px;
    height: 4rem;
    font-size: 1.2rem;
    padding-left: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.Profile .shopimg {
    width: 500px;
    border-radius: 40px;
    height: 420px;
    border: solid 0.5rem rgb(35, 189, 35);
}

.Profile .logocont {
    height: 620px;
    width: 480px;
    border: solid 0.2rem rgb(35, 189, 35);
    border-radius: 50px;
    padding: 4.5rem;
    background-color: #20bf55 !important;
    background-image: linear-gradient(315deg, #01ef15 0%, #20bf55 74%) !important;
}

@media (max-width: 600px) {
    .Profile .logocont {
        padding: 2rem;
        height: 560px;
        width: 400px;
    }

    .container1 {
        height: auto;
        width: auto;
        flex-direction: column;
        align-items: center;
        padding: auto;
    }

    .Profile .form {
        margin-top: 50px;
        height: 560px;
        width: 400px;
    }

    .input {
        height: 2.5rem;
        width: 320px;
    }

    .input1 {
        width: 320px;
        height: 3rem;
    }

    .addinput {
        height: 2.5rem;
        width: 320px;
    }

    .addinput1 {
        width: 320px;
        height: 3rem;
    }

    .addform {
        margin-bottom: 50px;
        width: 400px;
        height: 350px;
    }

    .Profile .shopimg {
        height: 300px;
        width: 400px;
    }
}

@media (max-width:1200px) {
    .container1 {
        justify-content: space-between;
    }
}