/* Footer */
.Footer{
    background-color:#212121;
    color:white;
    position: relative;
<<<<<<< HEAD
    padding-top: 50px;
    height:480px;
  }
  .Footer .list-section{
    display: grid;
    grid-template-columns: 22% 22% 22% 25% ;
    width:62%;
    height:200px;
    position: relative;
    left:30%;
=======
    padding-top: 80px;
    overflow-x: hidden;
  }
  .Footer .list-section{
    display: flex;
    justify-content: space-between;
    width:80%;
    height:200px;
    position: relative;
    top:0vw;
    left:3.5%;
>>>>>>> jatin
    bottom:45px;
}
.Footer .list-section  a{
    text-decoration: none;
    color:white;
    cursor: pointer;
}
.Footer .list-section a:hover, .Footer .list-section a:focus {
    color: rgb(46, 44, 44) !important;
}
<<<<<<< HEAD
  .Footer  .list-section .our-info{
      position: relative;
      color:white;
      margin-left: 36%;
      width:50%;
}
  .Footer .our-info p{
      width:250px;
  }
  .Footer .list-section div{
    width:150px;
  }
  .Footer #statement{
      position: relative;
      left:35px;
      width:280px;
      top:100px;
  }
  .Footer .margin-space{
      position:relative;
      left:35px;
  }
  .Footer .social-network .before-hline{
      width:1200px;
      display:grid;
      grid-template-columns: 76% 50%;
  }
  .Footer .social-network .after-hline{
        width:1200px;
        display:grid;
        grid-template-columns: 77% 50%;
  }
  .Footer .social-network .after-hline .contact-details{
        display: grid;
        grid-template-columns: 28% 50%;
=======
  .Footer .our-info{
      word-wrap: normal;
      color:white;
      width:250px;
}
  .Footer #statement{
      width:280px;
      justify-self:flex-start;
  }
  .Footer .margin-space{
      position:relative;
      left:20px;
  }
  .Footer .social-network{
    margin-right: 5vw;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .Footer .before-hline{
      margin-right: 5vw;
      display:flex;
      justify-content: space-between;
    }
    .Footer .after-hline{
        margin-right: 5vw;
        display:flex;
        justify-content: space-between;
  }
  .Footer .contact-details{
        margin-right: 5vw;
        display: flex;
        justify-content: space-around;
        justify-self: flex-start;
  }
  .Footer #number, .Footer #mail {
    visibility: visible;
    z-index: 1;
  }
  .Footer .contact-number img:hover + #number,  .Footer .contact-mail img:hover + #mail {
    visibility: visible;
>>>>>>> jatin
  }
  .Footer .social-network hr{
        padding:0px;
        margin-top:0px;
        margin-bottom:5px;
        position:relative;
<<<<<<< HEAD
=======
  }
  @media only screen and (max-width: 778px) {
    .Footer  .before-hline{
        display: none;
      }
    .Footer  .after-hline{
        margin-top:5vw;
      }
    .Footer hr,.Footer .list-section div:nth-child(2) {
        display: none;
      }
      .Footer .list-section {
        justify-content: space-between;
    }
  }
  @media only screen and (max-width: 670px) {
    .Footer{
        height:10%;
    }
    .Footer  .social-links ,.Footer .list-section div:nth-child(2){
         display: none;
      }
      .Footer  #number,.Footer #mail{
         visibility: hidden;
      }
      .Footer .list-section {
          left:10%;
          justify-content: center;
          flex-direction: column;
          height:100%;
          width:60%;
      }
    .Footer .after-hline  {
         justify-content: center;
      }
    .Footer  .contact-details  {
        width:80%;
         justify-content: space-between;
      }
>>>>>>> jatin
  }