/* Footer */
.Footer h1{
  color:white;
}
.Footer{
    background-color:#212121;
    color:white;
    position: relative;
    padding-top: 80px;
    overflow-x: hidden;
  }
  .Footer .list-section{
    display: flex;
    justify-content: space-between;
    width:80%;
    height:200px;
    position: relative;
    top:0vw;
    left:3.5%;
    bottom:45px;
}
.Footer .list-section  a{
    text-decoration: none;
    color:white;
    cursor: pointer;
}
.Footer .list-section a:hover, .Footer .list-section a:focus {
    color: rgb(46, 44, 44) !important;
}
  .Footer .our-info{
      word-wrap: normal;
      color:white;
      width:250px;
}
  .Footer #statement{
      width:280px;
      justify-self:flex-start;
  }
  .Footer .margin-space{
      position:relative;
      left:20px;
  }
  .Footer .social-network{
    margin-right: 5vw;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .Footer .before-hline{
      margin-right: 5vw;
      display:flex;
      justify-content: space-between;
    }
    .Footer .after-hline{
        margin-right: 5vw;
        display:flex;
        justify-content: space-between;
  }
  .Footer .contact-details{
        margin-right: 5vw;
        justify-content: space-around;
        justify-self: flex-start;
        width: fit-content;
  }
  .Footer #number, .Footer #mail {
    visibility: visible;
    z-index: 1;
  }
  .Footer .contact-number img:hover + #number,  .Footer .contact-mail img:hover + #mail {
    visibility: visible;
  }
  .Footer .social-network hr{
        padding:0px;
        margin-top:0px;
        margin-bottom:5px;
        position:relative;
  }
  @media only screen and (max-width: 778px) {
    .Footer  .before-hline{
        display: none;
      }
    .Footer  .after-hline{
        margin-top:5vw;
      }
    .Footer hr,.Footer .list-section div:nth-child(2) {
        display: none;
      }
      .Footer .list-section {
        justify-content: space-between;
    }
  }
  @media only screen and (max-width: 670px) {
    .Footer{
      padding-bottom: 30px;
    }
    .Footer .list-section div:nth-child(2){
         display: none;
      }
      .Footer  #number,.Footer #mail{
         visibility: hidden;
      }
      .Footer .social-network{
         margin-left: 28px;
      }
      .Footer .after-hline{
          flex-direction: column;
      }
      .Footer .list-section {
          margin-left:30px;
          margin-bottom: 10px;
          justify-content: center;
          flex-direction: column;
          width:60%;
      }
    .Footer .after-hline  {
         justify-content: center;
      }
    .Footer  .contact-details  {
        width:80%;
         justify-content: space-between;
      }
  }