.SignUp {
    background-color: white;
    height: 600px;
    width: 400px;
    position: absolute;
    /* top: calc(50% - 300px); */
    top: 50px;
    left: calc(50% - 200px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.SignUp_Title {
    margin-top: 13px;
    margin-bottom: 10px;
}

